@font-face {
  font-family: "Always_In_My_Heart";
  src: url('Always_In_My_Heart.ttf');
}
html {
  font-size: 10pt;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
}

/* Map */
#map {
  width: 100%;
  height: 100%;
}

/* Tooltip */
#tooltip {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}
.tooltip-title {
  margin: 2px 5px 0 5px;
  color: #cfb497;
  font-weight: bold;
}
.tooltip-list {
  margin: 0 5px 2px 5px;
  font-size: 8pt;
}

/* Zoom */
.ol-zoom {
  position: absolute;
  left: auto !important;
  right: 0.5em;
}

/* Menu */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210px;
  background: #333;
  font-size: 9pt;
  color: #ccc;
  opacity: 0.25;
  transition: opacity 0.1s ease;
}
.menu:hover{
  opacity: 0.9;
}

.menu  > div {
  padding: 10px 0 10px 20px;
}

.menu-item > div {
  font-weight: bold;
  color: #cfb497;
  text-transform: uppercase;
}
.menu-item > ul {
  margin: 2px 0;
}
.menu-item > ul > li {
  cursor: pointer;
}
.menu-item > ul > li.inactive {
  color: #999;
}
.menu-item > ul > li:hover {
  color: #fff;
}
.menu-item > ul > li:before {
  margin-right: 7px;
}
.menu-item > ul > li.inactive:before {
  opacity: 0;
}
.menu-item.sel-radio  > ul > li:before {
  content: '\25A0';
  vertical-align: text-bottom;
}
.menu-item.sel-check  > ul > li:before {
  content: '\2714';
  font-size: 0.75em;
}

/* Title */
.title {
  height: 80px;
  margin-left: -20px;
  font-family: "Always_In_My_Heart";
	font-size: 40pt;
  color: #cfb497;
}
.title:after {
  content: url(icon.png);
  position: absolute;
  top: -2px;
  left: 170px;
}

/* Voyages */
.voyages {
  height: calc(100% - 260px);
}
.voyages .date {
  font-size: 0.75em;
}
.voyages ul {
  overflow-y: auto;
  height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #333;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
  background: #cfb497;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #999; 
}






