@font-face {
  font-family: "Always_In_My_Heart";
  src: url('Always_In_My_Heart.ttf');
}

html {
  font-family: "Praxis LT", "Linux Biolium", sans-serif;
  font-size: 10pt;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

/* Options */
.options {
  position: absolute;
  top: 100px;
  left: 10px;
}
.options > li {
  padding: 10px 20px;
  background: rgba(60, 60, 60, 0.75);
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #111;
  margin-bottom: 25px;
}
.options > li > ul > li {
  cursor: pointer;
  transition: color 0.5s;
}
.options > li > ul > li:hover {
  color: #FFF0BB;
}
.options > li > ul > li:not(:last-child) {
  margin-bottom: 2px;
}
.options > li > ul > li.inactive {
  color: #999;
}

#info {
  top: 100px;
}
#map-type {
  top: 250px;
}


/* Title */
#title {
	height: 80px;
	font-family: "Always_In_My_Heart";
	font-size: 40pt;
  padding-left: 5px;
  padding-right: 45px;
  color: #fff;
}
#title:after {
  content: url(icon.png);
  position: absolute;
  top: -2px;
  right: 10px;
}


/* Voyages */
#voyages {
  height: 300px;
  overflow-y: auto;
}
#voyages > ul > li {
  cursor: auto;
}
#voyages > ul > li > span {
  display: inline-block;
  font-size: 9pt;
}
#voyages > ul > li > span:first-child {
  width: 60px;
  color: #bbb;
  text-align: right;
  margin-right: 5px;
}

/* Map */
#map {
  width: 100%;
  height: 100%;
}

.city-marker {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  opacity: 0.8;
}

.city-name {
  color: white;
  font-size: 9pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  z-index: 10;
}



