@font-face {
  font-family: "Always_In_My_Heart";
  src: url('Always_In_My_Heart.ttf');
}
html {
  font-size: 10pt;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

/* Map */
#map {
  width: 100%;
  height: 100%;
}

/* Tooltip */
#tooltip {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
} 

/* Zoom */
.ol-zoom {
  position: absolute;
  left: auto !important;
  right: 0.5em;
}

/* Menu */
#menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(60, 60, 60, 0.9);
  font-size: 9pt;
  color: #ccc;
}
#menu  > div {
  padding: 10px 20px;
}

.menu-item > div {
  font-weight: bold;
  color: #cfb497;
  text-transform: uppercase;
}
.menu-item > ul {
  margin: 2px 0;
}
.menu-item > ul > li {
  cursor: pointer;
}
.menu-item > ul > li:hover {
  color: #fff;
}
.menu-item > ul > li.inactive {
  color: #999;
}
.menu-item > ul > li:before {
  margin-right: 7px;
}
.menu-item > ul > li.inactive:before {
  opacity: 0;
}
.menu-item.sel-radio  > ul > li:before {
  content: '\25A0';
  vertical-align: text-bottom;
}
.menu-item.sel-check  > ul > li:before {
  content: '\2714';
  font-size: 0.75em;
}

/* Title */
.title {
  height: 80px;
  margin-left: -20px;
  font-family: "Always_In_My_Heart";
	font-size: 40pt;
  color: #cfb497;
}
.title:after {
  content: url(icon.png);
  position: absolute;
  top: -2px;
  right: 15px;
}

/* Background */
.background > ul > li:before {
  content: '\25A0';
}

/* 






