
<div id="map" class="map">
  <div id="tooltip"></div>
</div>

<ul class="options">
  <li id="title">
    Itinéraires
  </li>
  
  <li id="info">
    <ul>
      <li ng-repeat="mask in masks"  ng-class="{inactive: !mask.show}" ng-click="toggleMask($index)">{{mask.name}}</li>
    </ul>
  </li>

  <li id="map-type">
    <ul>
      <li ng-repeat="map in backgroundMaps" ng-class="{inactive: backgroundIndex !== $index}" ng-click="setBackgroundMap($index)">{{map.name}}</li>
    </ul>
  </li>
  
  <li id="voyages">
    <ul>
      <li ng-repeat="voyage in voyages">
        <span>{{Month.getLabel(voyage.mois)}} {{voyage.annee}}</span>
        <span>{{voyage.nom}}</span>
      </li>
    </ul>
  </li>
</ul>
