<div id="map" class="map">
  <div id="tooltip" data-html="true"></div>
</div>

<div class="menu">
  <div class="title">
    Itinéraires
  </div>
  
  <div class="menu-item sel-radio background">
    <div>Fond</div>
    <ul>
      <li ng-repeat="map in backgroundMaps" ng-class="{inactive: backgroundIndex !== $index}" ng-click="setBackgroundMap($index)">
        <span>{{map.name}}</span>
      </li>
    </ul>
  </div>

  <div class="menu-item sel-check masks">
    <div>Informations</div>
    <ul>
      <li ng-repeat="mask in masks" ng-class="{inactive: !mask.show}" ng-click="toggleMask($index)">
        <span>{{mask.name}}</span>
      </li>
    </ul>
  </div>

  <div class="menu-item sel-radio travellers">
    <div>Qui ?</div>
    <ul>
      <li ng-repeat="traveller in travellers" ng-class="{inactive: travellerIndex !== $index}" ng-click="setTraveller($index)">
        <span>{{traveller}}</span>
      </li>
    </ul>
  </div>
  
  <div class="menu-item sel-radio voyages">
    <div>Voyages</div>
    <ul>
      <li ng-class="{inactive: journeyIndex !== -1}" ng-click="setJourney(-1)">Tous</li>
      <li ng-repeat="journey in journeys | reverse" ng-class="{inactive: journeys.length-journeyIndex-1 !== $index}" ng-click="setJourney($index)">
        <span>{{journey.nom}}</span>
        <span class="date">[{{Month.getLabel(journey.mois)}} {{journey.annee}}]</span>
        <a ng-if="journey.link" href="{{journey.link}}" target="_blank"><span class="fa fa-external-link-square"></span></a>
      </li>
    </ul>
  </div>

</div>
