<div id="map" class="map">
  <div id="tooltip" data-html="true"></div>
</div>

<div id="menu">
  <div class="title">
    Itinéraires
  </div>
  
  <div class="menu-item sel-radio background">
    <div>Fond de carte</div>
    <ul>
      <li ng-repeat="map in backgroundMaps" ng-class="{inactive: backgroundIndex !== $index}" ng-click="setBackgroundMap($index)"><span>{{map.name}}</span></li>
    </ul>
  </div>

  <div class="menu-item sel-check masks">
    <div>Informations</div>
    <ul>
      <li ng-repeat="mask in masks"  ng-class="{inactive: !mask.show}" ng-click="toggleMask($index)">{{mask.name}}</li>
    </ul>
  </div>
  
  <div class="menu-item sel-radio voyages">
    <div>Voyages</div>
    <ul>
      <li ng-click="setJourney(-1)">Tous</li>
      <li ng-repeat="journey in journeys" ng-click="setJourney($index)">
        <span>{{Month.getLabel(journey.mois)}} {{journey.annee}}</span>
        <span>{{journey.nom}}</span>
      </li>
    </ul>
  </div>

</div>
